body{
    background-color: black;
    scroll-behavior: smooth;
}
.col{
    cursor: pointer;
    color: wheat;
}
#body{
    background-color: black;
}
#body1{
    background-color: black;
}
#body2{
    background-color: black;
}
#foot{
    color: black;
}
#foot1{
    color: black;
}
#foot2{
    color: black;
}
#footer{
    background-color: black;
    color: wheat;
}
button a{
    color: wheat;
    text-decoration: none;
}
button a:hover{
    color: wheat;
    text-decoration: none;
}
#fm:hover{
    background-color: rgb(28, 58, 228);
    cursor: pointer;
}
#fm1:hover{
    background-color: rgb(216, 18, 127);
    cursor: pointer;
}
#fm2:hover{
    background-color: rgb(15, 202, 46);
    cursor: pointer;
}
#sc:hover{
    transform: scale(1.3);
}